<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="easymall.dao.UserDao">

<select id="login" parameterType="String" resultType="easymall.po.User">
    select * from user where username=#{username}
</select>

<insert id="regist" parameterType="easymall.po.User" keyProperty="id" useGeneratedKeys="true">
    insert into user(username,password,nickname,email) 
            value(#{username},#{password},#{nickname},#{email})
</insert>
<select id="alluser" resultType="easymall.po.User">
    select * from user 
</select> 
<update id="change20" parameterType="Integer">
    update user set usertype=0 where id=#{id}
</update>
<update id="change21" parameterType="Integer">
    update user set usertype=1 where id=#{id}
</update>

</mapper>